.li {
    border: 1px solid gray;
    width: 200px;
    padding: 5px;
    list-style: none;
    border-radius: 15%;
    background-color: lightgray;   
}
.ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}